__pycache__/
*.py[cod]
*.so
*.dylib
*.dll
*.log
.env
.venv
.envrc
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
node_modules/
dist/
build/
.cache/
coverage.xml
uv.lock
.db.sqlite
/tmp/
web/node_modules
web/dist
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

*.github

data/
test-artifacts/
*.db
src/nl2sql.egg-info/
.sqlfluff
dump.rdb